[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipython = "*"
memory-profiler = "*"
pylint = "*"
pytest = "*"
pytest-docker-compose = "*"

[packages]
dnspython = "*"
futures = "*"
geoalchemy2 = "*"
geopandas = "*"
grpcio = "*"
grpcio-tools = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-consul = "*"
statsd = "*"

[requires]
python_version = "3.7"
