[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
grpcio = "*"
grpcio-tools = "*"
ipython = "*"
memory-profiler = "*"
sqlalchemy = "*"
geoalchemy2 = "*"
psycopg2 = "*"
python-consul = "*"
statsd = "*"
dnspython = "*"
futures = "*"
pytest-docker-compose = "*"

[requires]
python_version = "3.7"
